// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.post-footer{margin-top:10px;padding:5px;background:none repeat scroll 0pt 0pt #eee;font-size:90%;color:gray}

html {
  background: url("/images/bg_kenan.jpg");
}

body > div { 
  background-image: none; 
} //侧边栏

body > div > div { //文章内容
  background-image: none;
}